body {
    background-image: url("17493.jpg");
    font: 100% system-ui;
    color: #eee;
}
h1 {
    text-align: center;
    color: #eee;
    text-shadow: 1px 1px 3px black, 0 0 30px blue, 0 0 10px darkblue;
}
h4 {
    text-align: center;
    border-style: double;
    padding: 10px;
    margin: 0px;
    text-shadow: 1px 1px 3px black, 0 0 30px blue, 0 0 10px darkblue;
}
p {
    text-align: center;
    border: 1px solid;
    margin: 0px;
    padding: 4px;
    text-shadow: 1px 1px 3px black, 0 0 30px blue, 0 0 10px darkblue;
}
label {
    position: absolute;
    top: 4px;
    left: 3px;
    z-index: 2;
    font-weight: 900;
    color: darkblue;
}
textarea {
    color: darkblue;
    font: 100% system-ui;
    font-weight: 900;
    height: 75px;
    width: 100%;
    padding: 3px;
    resize: none;
    margin: 0px;
    text-transform: uppercase;
    background-color:rgba(255, 255, 255, .5);
    border-color: #eee;
}
#left {
    float: left;
    width: 50%;
}
#right {
    float: right;
    width: 50%;
}
#left2 {
    width: 50%;
    float: left;
    position: relative;
}
#right2 {
    width: 50%;
    float: left;
    position: relative;
}
#tr{
    text-indent: 142px;
}
#tl{
    text-indent: 109px;
}
#textarea_extented {
    height: 474px;
}
